def_key "{{ ncmpcpp.config.bindings.next_column }}"
  next_column
def_key "{{ ncmpcpp.config.bindings.previous_column }}"
  previous_column
def_key "{{ ncmpcpp.config.bindings.scroll_up }}"
  scroll_up
def_key "{{ ncmpcpp.config.bindings.scroll_down }}"
  scroll_down
