 bind_to_address    "{{ mpd.config.attr.bind_to_address }}"
 music_directory    "{{ mpd.config.attr.music_directory }}"
 playlist_directory "{{ mpd.config.attr.playlist_directory }}"   
 db_file            "{{ mpd.config.attr.db_file }}"
 log_file           "{{ mpd.config.attr.log_file }}"
 pid_file           "{{ mpd.config.attr.pid_file }}"
 state_file         "{{ mpd.config.attr.state_file }}"
 mixer_type         "{{ mpd.config.attr.mixer_type }}"

audio_output {  
  type        "{{ mpd.config.attr.audio_output.pulse.type }}"  
  name        "{{ mpd.config.attr.audio_output.pulse.name }}"
  mixer_type  "{{ mpd.config.attr.audio_output.pulse.mixer_type }}" 
 }  

audio_output {
  type    "{{ mpd.config.attr.audio_output.fifo.type }}"
  name    "{{ mpd.config.attr.audio_output.fifo.name }}"
  path    "{{ mpd.config.attr.audio_output.fifo.path }}"
  format  "{{ mpd.config.attr.audio_output.fifo.format }}"
}
